node_modules/
.turbo/
provision/.cache/
.DS_Store
coverage/
*.tsbuildinfo
packages/artefacts/.cache/
packages/artefacts/.logs/
packages/artefacts/dist/
packages/tui/dist/
packages/docs/src/.vitepress/cache/
packages/docs/src/.vitepress/dist/
packages/docs/src/api/
