node_modules/
.turbo/
**/.turbo/
.cache/
**/.cache/
infra/.cache/
.DS_Store
.idea/
coverage/
*.tsbuildinfo
pkgs-ts/console/dist/
apps/docs/src/.vitepress/
apps/docs/src/api/

# Go
pkgs-go/bin/
*.test
*.out
